# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Virtual environments
venv/
env/

# Django
db.sqlite3
*.log

# VS Code
.vscode/

# Node.js (if applicable)
node_modules/

# OS-specific
.DS_Store
Thumbs.db
